<% provide(:title, "Home") %>

<div class="row center" id="full-img-background">
  <div class="container horizontal-center">
    <h1>Are you ready to manage your Business.</h1>
    <h2>We will take care of your financial data for you.</h2>
    <%= link_to 'sign up now!'.upcase, '#', class: 'btn btn-lg btn-warning' %>
  </div>
</div>
