<div class="left_nav_panel">
  <ul>
    <li class="active"><%= link_to "Profile", current_user %></li>
    <li><%= link_to "Feedback", '#' %></li>
    <li><%= link_to "Payable details", payables_url %></li>
    <li><%= link_to "Receivable details", receivables_url %></li>
  </ul>
</div>
