<div class="left_nav_panel">
  <ul>
    <li class="active"><%= link_to "Profile", current_user %></li>
    <li><%= link_to "Feedback", '#' %></li>
    <li><%= link_to "Payable details", capitals_url(:capi_type => 'Payable') %></li>
    <li><%= link_to "Receivable details", capitals_url(:capi_type => 'Receivable') %></li>
  </ul>
</div>
